.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

out/test/**
testCases/**
.esbuild.js
.nvmrc
.github
vitest.config.mjs
screenshot.png

node_modules/**
!node_modules/@c4312/nodejs-testing-ts-server-plugin/**
